.chips {
    margin-right: 5px;
    margin-bottom: 5px;
    &:last-child {
        margin-right: 0px;
    }
    .chip {
        border: 2px solid $primaryColor;
        border-radius: 0px !important;
        background-color: #fff !important;
        font-family: bebas;
        font-size: 14px;
        letter-spacing: 1.2px;
        padding: 5px 10px;
        width: max-content;
    }
}

md-chips {
    width: 100%;

    md-chips-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-left: 20px;
    }

    
    
    .md-chips {
        display: flex;
        align-items: baseline;
        padding: 0;
        margin-right: 5px;
        box-shadow: none;

        ._md-chip-input-container {
            margin-top: 5px;

            .md-input {
                box-shadow: none !important;
            }
        }

        &.md-focused {
            box-shadow: none;
        }


        md-chip {
            display: flex;
            border: 2px solid $primaryColor;
            border-radius: 0px;
            background-color: #fff;
            font-family: bebas;
            font-size: 14px;
            letter-spacing: 1.2px;
            line-height: 28px;
            padding: 0 10px;
            z-index: 100;

            &.md-focused {
                color: black;

                md-icon {
                    color: black;
                }
            }

            button {
                border: 0;
                padding: 0;
                margin-left: 10px;
                background-color: inherit;

                >span {
                    display: none;
                }

                md-icon {
                    width: 16px;
                    height: 16px;
                    min-width: 16px;
                    min-height: 16px;

                    svg {
                        display: inherit;
                        width: 16px;
                    }
                }
            }

            >span {
                display: none;
            }

            ._md-chip-remove-container {
                display: flex;
                align-items: center;

                
            }
        }
    }
}