.chips {
    margin-right: 5px;

    &:last-child {
        margin-right: 0px;
    }

    .chip {
        border: 2px solid $primaryColor;
        border-radius: 0px !important;
        background-color: #fff !important;
        font-family: bebas;
        font-size: 14px;
        letter-spacing: 1.2px;
        padding: 5px 10px;
    }
}