.container {
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    width: 1024px;
    transition: 0.5s all ease;
}

.col-lg-4 {
    width: 33.3333%;  
}

.align-self-end {
    display: flex;
    align-self: flex-end;
}