<div class="toolbar" flex="100">
    <div class="logo">
        <a href="#">
            <h1>why
                <span>NOT</span>run</h1>
        </a>
    </div>
    <search-form class="search-form" controller="searchController"></search-form>
    <nav class="menu">
        <ul>
            <li>
                <a ui-sref="feed">Feed</a>
            </li>
            <li>
                <a ui-sref="ranking">Ranking</a>
            </li>
            <li>
                <a ng-click="loginModalStatus()">Entrar</a>
            </li>
            <li>
                <button ng-click="registerModalStatus()" class="red">Cadastrar</button>
            </li>
        </ul>
    </nav>
</div>
<login></login>
<register></register>