<div class="toolbar" flex="100">
    <div class="logo">
        <a href="#">
            <h1>why
                <span>NOT</span>run</h1>
        </a>
    </div>
    <search-form class="search-form" controller="searchController"></search-form>
    <nav class="menu" controller="loginController">
        <ul>
            <li>
                <a ui-sref="feed">Feed</a>
            </li>
            <li>
                <a ui-sref="ranking">Ranking</a>
            </li>
            <li ng-if="!isLogged()">
                <a ng-click="loginChangeModalStatus()">Entrar</a>
            </li>
            <li ng-if="!isLogged()">
                <button ng-click="registerChangeModalStatus()" class="red">Cadastrar</button>
            </li>
            <li ng-if="isLogged()">
                <a ng-click="logout()" href="#">Sair</a>
            </li>
            <li ng-if="isLogged()">
                <img ng-src="{{getUser().picture}}" class="avatar -tiny" alt="User avatar">
            </li>
        </ul>
    </nav>
</div>
<login></login>
<register></register>