<div>
    <div class="create-post" md-whiteframe="3" ng-class="{'-active': newPostActive}">
        <span>DETONE UMA TECNOLOGIA!</span>
        <div class="post-form">
            <div class="input-group">
                <label ng-click="inputGroupActive($event)">Digite o título do seu tópico.</label>
                <input ng-click="createPostActive($event)" ng-model="title" ng-blur="inputGroupIsActive($event)">
            </div>
            <div class="input-group" ng-if="newPostActive">
                <label ng-click="inputGroupActive($event)">Insira as tecnologias relacionadas a este post. Digite e aperte enter para confirmar.</label>
                <md-chips md-on-add='true' id="style-6" ng-model="selectedTechnologies" readonly="false" md-transform-chip="transformChip($chip)">
                    <md-autocomplete 
                        ng-disabled="false" 
                        md-no-cache="true"  
                        md-search-text="technologiesSearchText"  
                        md-items="technology in technologies  | filter:technologiesSearchText" 
                        md-item-text="technology.name" 
                        md-min-length="0" 
                        md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                           <span> {{technology.name}} </span>
                        </md-item-template>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>{{$chip.name}}</span>
                    </md-chip-template>
                </md-chips>
                <br>
            </div>
            <div class="input-group -textarea" ng-if="newPostActive">
                <label ng-click="inputGroupActive($event)">Detone as tecnologias!</label>
                <textarea rows="6" ng-model="text" ng-blur="inputGroupIsActive($event)" disabled></textarea>
            </div>

            <div class="buttons-group" ng-if="newPostActive">
                <button ng-click="createPostInactive()">
                    <i></i>CANCELAR</button>
                <button class="accept">
                    <i></i>ENVIAR</button>
            </div>
        </div>
    </div>
</div>