<ul ng-controller="feedController">
    <li ng-repeat="post in posts">
        <div class="post"  id="{{post.id}}">
            <div class="reactions">
                <div class="disagree">
                    <a ng-click="postDisagree(this)">
                        Discordo
                    </a>
                </div>
                <div>{{post.reactions.agree-post.reactions.disagree}} NOTPOINTS</div>
                <div class="agree">
                    <a ng-click="postAgree(this)">
                        Concordo
                    </a>
                </div>
            </div>
            <div class="reactions-bar">
                <div class="disagree-bar" ng-style="{ 'width' : post.reactions.disagreePercent }"></div>
                <div class="agree-bar" ng-style="{ 'width' : post.reactions.agreePercent }"></div>
            </div>
            <div class="post-content" md-whiteframe="3">
                <header>
                    <div class="author-info">
                        <img src="images/avatar.jpg" alt="User image" class="avatar">
                        <div class="data">
                            <p>{{post.user.name}}
                                <small>{{post.user.profession}}</small>
                            </p>
                        </div>
                    </div>
                    <div class="post-tags">
                        <ul layout="row">
                            <li class="chips" ng-repeat="tech in post.technologys">
                                <span class="chip">{{tech.name}}</span>
                            </li>
                        </ul>
                    </div>
                </header>
                <div class="post-text">
                    <h2>{{post.title}}</h2>
                    <p>{{post.text}}</p>
                </div>
                <div class="comment-area">
                    <header>
                        <div class="comments-count">
                            <span>{{post.reactions.comments}} Comentarios</span>
                        </div>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </header>
                    <div class="comments">
                        <ul>
                            <li layout="column" layout-align="start start" ng-repeat="comments in post.comments">
                                <div layout="row" layout-align="start center" class="author-info">
                                    <img ng-src="{{comments.user.picture}}" alt="User image" class="avatar -tiny">
                                    <div class="data">
                                        <p layout="column" layout-align="center start">
                                            {{comments.user.name}}
                                            <span>{{comments.text}}</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="new-comment">
                        <img src="images/avatar.jpg" alt="User image" class="avatar -tiny">
                        <div class="comment-field" md-whiteframe="3">
                            <input type="text" placeholder="Comente sobre este tópico!">
                            <button>Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>